# Siapkan data tanpa fillna dan get_dummies

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('data/titanic.csv', index_col='PassengerId')
df.drop(columns=['Name', 'Ticket', 'Age', 'Cabin'], inplace=True)

In [3]:
X = df.drop(columns='Survived')
y = df.Survived

X_train, X_test, y_train , y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 6), (179, 6), (712,), (179,))

### Preprocessor

In [4]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [5]:
numerical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', MinMaxScaler())
])

categorical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder())
])

In [6]:
X_train.head()

             Pclass     Sex  SibSp  Parch      Fare Embarked
PassengerId
693               3    male      0      0   56.4958        S
482               2    male      0      0    0.0000        S
528               1    male      0      0  221.7792        S
856               3  female      0      1    9.3500        S
802               2  female      1      1   26.2500        S

In [7]:
from sklearn.compose import ColumnTransformer

In [12]:
preprocessor = ColumnTransformer([
     ('numeric', numerical_pipeline, ['SibSp','Parch','Fare']),
     ('categoric', categorical_pipeline, ['Pclass','Sex','Embarked'])
])

### Pipeline

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
pipi = Pipeline([
    ('prep', preprocessor),
    ('algo', KNeighborsClassifier())
])

In [14]:
pipi.fit(X_train, y_train)

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('numeric',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   MinMaxScaler())]),
                                                  ['SibSp', 'Parch', 'Fare']),
                                                 ('categoric',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder())]),
                                                  ['Pclass', 'Sex',
                                                   'Embarked'])])),
                ('algo', KNeighborsClassifier())])

In [16]:
pipi.score(X_test, y_test)

0.776536312849162