# Print

In [1]:
print('Hello world!')

Hello world!

In [2]:
print("Halo dunia!")

Halo dunia!

In [3]:
print('''This is docstring!''')

This is docstring!

# Variable

In [4]:
a = 1

In [5]:
a

1

In [6]:
a , b = 2 , 4

In [7]:
b

4

In [8]:
a , b

(2, 4)

In [9]:
a,b = b,a

In [10]:
a,b

(4, 2)

# List

In [11]:
my_list = [1, 2, 3, 4, "Yorushiku!", 5, 6, 7, 8, "Cintaiku!"]

In [12]:
my_list

[1, 2, 3, 4, 'Yorushiku!', 5, 6, 7, 8, 'Cintaiku!']

In [13]:
my_list[0]

1

In [14]:
my_list[-1]

'Cintaiku!'

In [15]:
my_list.append("Karena ku cinta kamu!")

In [16]:
my_list

[1, 2, 3, 4, 'Yorushiku!', 5, 6, 7, 8, 'Cintaiku!', 'Karena ku cinta kamu!']

In [17]:
len(my_list)

11

In [18]:
my_list = []

In [20]:
my_list.append(1)

In [22]:
my_list.append(2)

# Slicing

`inclusive` : `exclusive`:`step`

In [23]:
a = [0, 1, 2, 3, 4, 5, 6]

In [24]:
a[0:2]

[0, 1]

In [25]:
a[0:5]

[0, 1, 2, 3, 4]

In [26]:
a[3:-1]

[3, 4, 5]

In [27]:
a[:5]

[0, 1, 2, 3, 4]

In [28]:
a[2:]

[2, 3, 4, 5, 6]

In [29]:
a[1::2]

[1, 3, 5]

In [30]:
a[1:5:2]

[1, 3]

In [31]:
a[::-1]

[6, 5, 4, 3, 2, 1, 0]

# Join & Split

In [32]:
a = ["cat", "dog", "fish"]

In [33]:
" ".join(a)

'cat dog fish'

In [34]:
", ".join(a)

'cat, dog, fish'

In [35]:
a = "kelas ini tentang intro python"

In [36]:
a.split()

['kelas', 'ini', 'tentang', 'intro', 'python']

In [37]:
a = "Hari ini, matahari bersinar terang"

In [38]:
a.split(", ")

['Hari ini', 'matahari bersinar terang']

#  Dictionary

 `key`:`value`

In [39]:
a = {
    "Marc": 93,
    "Bottas": 77,
    "Brad": 33
}

In [40]:
a

{'Marc': 93, 'Bottas': 77, 'Brad': 33}

In [41]:
a["Marc"]

93

In [45]:
a["Hamilton"]= 44

In [46]:
a

{'Marc': 93, 'Bottas': 77, 'Brad': 33, 'Hamilton': 44}

In [47]:
a['Lecrec'] = 16

In [48]:
a

{'Marc': 93, 'Bottas': 77, 'Brad': 33, 'Hamilton': 44, 'Lecrec': 16}

In [49]:
a.keys()

dict_keys(['Marc', 'Bottas', 'Brad', 'Hamilton', 'Lecrec'])

In [50]:
a.values()

dict_values([93, 77, 33, 44, 16])

In [51]:
nilai = {
    "Anggita": 80,
    "Baim": 75,
    "Chandra": 80,
    "Dhea": 95
}

In [52]:
nilai

{'Anggita': 80, 'Baim': 75, 'Chandra': 80, 'Dhea': 95}

In [53]:
nilai["Anggita"]

80

In [54]:
nilai["Baim"] = 80

In [55]:
nilai

{'Anggita': 80, 'Baim': 80, 'Chandra': 80, 'Dhea': 95}

# Function

In [56]:
def jumlah(a,b):
    return a + b

In [58]:
jumlah(100,2)

102

# Conditionals

In [61]:
score = 60

In [62]:
if 0 <= score < 60:
    print("Nilai= C")
elif 60 <= score < 80:
    print("Nilai= B")
elif 80 <= score < 100:
    print("Nilai= A")
else:
    print("Nilai salah!")

Nilai= B

In [64]:
def konversi_nilai(score):
    if 0 <= score < 60:
        return("Nilai= C")
    elif 60 <= score < 80:
        return("Nilai= B")
    elif 80 <= score < 100:
        return("Nilai= A")
    else:
        return("Nilai salah!")

In [65]:
konversi_nilai(75)

'Nilai= B'

# Iterasi(Menelusuri)

In [66]:
numbers = [1, 2, 3, 4, 5, 6]

In [68]:
for n in numbers:
    print(n)

1
2
3
4
5
6

In [69]:
for score in [80, 90, 100, 60, 50]:
    print(konversi_nilai(score))

Nilai= A
Nilai= A
Nilai salah!
Nilai= B
Nilai= C

In [70]:
for number in numbers:
    print(number**3)

1
8
27
64
125
216

In [71]:
animals = ["Dog", 'Fish', "Elephant", "Dolpin", "Deer"]

In [72]:
animals

['Dog', 'Fish', 'Elephant', 'Dolpin', 'Deer']

In [73]:
for animal in animals:
    print(animal)

Dog
Fish
Elephant
Dolpin
Deer

In [77]:
for animal in animals:
    print(animal.upper())

DOG
FISH
ELEPHANT
DOLPIN
DEER

In [79]:
for i in range(2,5,2):
    print(i)

2
4

In [80]:
a

{'Marc': 93, 'Bottas': 77, 'Brad': 33, 'Hamilton': 44, 'Lecrec': 16}

In [81]:
a.keys()

dict_keys(['Marc', 'Bottas', 'Brad', 'Hamilton', 'Lecrec'])

In [82]:
for key in a.keys():
    print("Nomor kendaraan dari", key, "adalah", a[key])

Nomor kendaraan dari Marc adalah 93
Nomor kendaraan dari Bottas adalah 77
Nomor kendaraan dari Brad adalah 33
Nomor kendaraan dari Hamilton adalah 44
Nomor kendaraan dari Lecrec adalah 16

In [83]:
for key in a.keys():
    print(f"Nomor kendaraan dari, {key}, adalah, {a[key]}") #beda formatnya aja

Nomor kendaraan dari, Marc, adalah, 93
Nomor kendaraan dari, Bottas, adalah, 77
Nomor kendaraan dari, Brad, adalah, 33
Nomor kendaraan dari, Hamilton, adalah, 44
Nomor kendaraan dari, Lecrec, adalah, 16

In [85]:
c = []
for i in range(5):
    c.append(i**2)

In [86]:
c

[0, 1, 4, 9, 16]

# Python Comprehension

In [87]:
a = [i**2 for i in range (5)]

In [88]:
a

[0, 1, 4, 9, 16]

In [89]:
a = {i: i**2 for i in range(5)}
print(a)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [90]:
#set
{1 ,2,2, 1,3,4,5,6,6,5,23}

{1, 2, 3, 4, 5, 6, 23}

In [92]:
nilai = [konversi_nilai(score) for score in [2,90,75,60,100]]
nilai

['Nilai= C', 'Nilai= A', 'Nilai= B', 'Nilai= B', 'Nilai salah!']